small {
	background-color: aliceblue;
	padding: 4px 8px;
	border-radius: 20px;
}

.nav li a:hover {
	color: rgb(29, 29, 193);
}

.post-thumb {
	width: 100%;
}

.pagination-link {
	margin: 30px 0;
}

.pagination-link strong {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
